<div class="row">
	<div class="small-12 column">
		{{#link-to 'messages' box.path}}
			{{box.name}}
		{{/link-to}}
	</div>
</div>
{{#if box.children}}
	<div class="row">
		<div class="small-11 small-offset-1 column">
			<ul class="side-nav">
				{{#each child in box.children}}
					<li>
						{{box-item box=child}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
{{/if}}