<a href="#" {{action "click"}}>
	<i {{bind-attr class="boxIcon :small"}}></i> {{box.name}}
</a>
{{#if box.children}}
<ul class="nav navmenu-nav">
	{{#each child in box.children}}
		{{box-item box=child clickAction=clickAction}}
	{{/each}}
</ul>
{{/if}}
