<div class="erizo-messageComposerAttachment">
	<span class="erizo-messageComposerAttachment-name">{{model.file.name}}</span>
	<span class="erizo-messageComposerAttachment-size text-muted">({{model.displaySize}})</span>
</div>
