<div class="list-group-item">
	<div class="checkbox row-action-selector">
		<label>
			<input type="checkbox" class="message-selector" />
		</label>
	</div>
	<div class="row-action-primary">
		<i class="mdi-social-person"></i>
	</div>
	{{#link-to 'message' model.uid}}
	<div class="row-content">
		<div class="least-content">{{date-formatter model.date null 'll'}}</div>
		<h4 class="list-group-item-heading">{{#each from in model.envelope.from}}{{mail-address model=from}}{{/each}} - {{model.envelope.subject}}</h4>
		<p class="list-group-item-text">{{previewText}}</p>
	</div>
	{{/link-to}}
</div>
