<td width="1"><input type="checkbox"></td>
<td>{{#each from in message.envelope.from}}{{mail-address address=from}}{{/each}}</td>
<td>{{#link-to 'message' message.uid}}{{message.envelope.subject}}{{/link-to}}</td>
<td><!--PJ--></td>
<td>{{date-formatter message.date null 'll'}}</td>