<div>
	{{#each part in messageParts}}
	<div>
		{{mime-element model=part}}
	</div>
	{{/each}}
</div>

<div>
	<p>
	{{#each part in attachmentParts}}
		<img class="th" src="images/mail-attachment.png"/>
	{{/each}}
	</p>
</div>