<div class="erizo-threadMessageAttachment">
	<span class="erizo-threadMessageAttachment-name">{{model.name}}</span>
	<span class="erizo-threadMessageAttachment-size text-muted">({{size-formatter model.realSize}})</span>
	<div class="erizo-threadMessageAttachment-actions">
		<a href="{{contentUrl}}" class="btn btn-xs btn-default"><i class="mdi-file-file-download"></i></a>
	</div>
</div>
