.erizo-bar i.small {
    font-size: 0.5rem;
}
.erizo-bar i.medium {
    font-size: 1rem;
}
.erizo-bar i.large {
    font-size: 2rem;
}
.icon-bar * {
    padding: 0.25rem;
    width: 100%;
}
header {
    margin-bottom: 1.5rem;
}
.login-box {
    margin-top: 10%;
}
img.loading {
    max-width: 32px;
    margin: 40px;
}
.row {
    max-width: none;
}
.full-width {
    width: 100%;
}
.new-messages {
    /*--masqué par défaut--*/
    width: 500px;
    display: block;
    border: 1px solid #ddd;
    background-color: #ffffff;
    float: right;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99999;
}
.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}