.box-selector {
	ul {
		margin-bottom: 0;
	}

	li>ul {
		//Padding on nested box
    	padding-left: 15px;
    }

    .draggableDropzone.activated {
		color: #f8f8f8;
  		background-color: #795548;

  		a, a:hover, a:focus {
  			color: #f8f8f8;
  		}
    }

    li>div>a {
		position: relative;
		display: block;
		padding: 10px 15px;
	}

	li>div>a:hover, li>div>a:focus {
		text-decoration: none;
		color: #333;
		background-color: transparent;
	}


}

.box-selector-small {
	.box-selector;

	li>div>a, li a {
		display: block;
		padding: 4px 20px;
		clear: both;
		font-weight: 400;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
}
