@erizo-messageComposer-composerPadding: 12px;
@erizo-messageComposer-lineElementHeight: 45px;

.erizo-messageComposer {
	background-color: white;
	border: 1px solid rgba(119, 119, 119, 0.35);
	position: relative;
}

.erizo-messageComposer-precomposer {
	padding: 10px 15px;
	min-height: 80px;
}

.erizo-messageComposer-row {
	// Inner borders
	border-bottom: 1px solid rgba(119, 119, 119, 0.35);

	// Row padding
	padding-left: @erizo-messageComposer-composerPadding;
	padding-right: @erizo-messageComposer-composerPadding;
	width: 100%;

	// Inputs customizations
	input {
		border: 0;
		height: @erizo-messageComposer-lineElementHeight;
	}
}

// No border on the last child (since the border is on the messageComposer class)
.erizo-messageComposer-row:last-child {
	border-bottom: 0px;
}

// Fix destination selector shape
.erizo-messageComposer .btn.erizo-messageComposer-destinationSelector {
	padding: 12px;
	margin-left: -@erizo-messageComposer-composerPadding;
}

// Subject row
.erizo-messageComposer-subjectRow {
	input {
		width: 100%;
	}
}

// HTML Editor row
.erizo-messageComposer-htmlEditorRow {
	padding-top: @erizo-messageComposer-composerPadding;
	border-bottom: 0px;
}

// Add attachment button
.erizo-messageComposer-addAttachment {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

// Attachments
.erizo-messageComposer-attachmentsRow {
	padding-bottom: @erizo-messageComposer-composerPadding;
}

// Attachment
.erizo-messageComposer-attachment {
  display: inline-block;
  border: 1px solid rgba(119, 119, 119, 0.35);
  padding: 5px;
  box-shadow: 1px 1px 1px rgba(119, 119, 119, 0.35);
  min-width: 280px;

  i {
  	vertical-align: middle;
  	margin-left: 10px;
  }
}
