@erizo-messageComposer-composerPadding: 12px;
@erizo-messageComposer-lineElementHeight: 45px;

.erizo-messageComposer {
	background-color: white;
	border: 1px solid rgba(119, 119, 119, 0.35);
	position: relative;
}

.erizo-messageComposer-precomposer {
	padding: 10px 15px;
	min-height: 80px;
}

.erizo-messageComposer-row {
	// Inner borders
	border-bottom: 1px solid rgba(119, 119, 119, 0.35);

	// Row padding
	padding-left: @erizo-messageComposer-composerPadding;
	padding-right: @erizo-messageComposer-composerPadding;
	width: 100%;

	// Inputs customizations
	input {
		border: 0;
		height: @erizo-messageComposer-lineElementHeight;
	}
}

// No border on the last child (since the border is on the messageComposer class)
.erizo-messageComposer-row:last-child {
	border-bottom: 0px;
}

// Fix destination selector shape
.erizo-messageComposer .btn.erizo-messageComposer-destinationSelector {
	padding: 12px;
	margin-left: -@erizo-messageComposer-composerPadding;
}

// Subject row
.erizo-messageComposer-subjectRow {
	input {
		width: 100%;
	}
}

// HTML Editor row
.erizo-messageComposer-htmlEditorRow {
	padding-top: @erizo-messageComposer-composerPadding;
	padding-bottom: @erizo-messageComposer-composerPadding;
	border-bottom: 0px;
}

// Toolbar : Compensate row margin
.erizo-messageComposer-toolbarRow .erizo-messageComposer-toolbar {
	margin-left: -@erizo-messageComposer-composerPadding;
	margin-right: -@erizo-messageComposer-composerPadding;
}
.erizo-messageComposer-toolbarRow .btn-square {
	padding: @erizo-messageComposer-composerPadding;
}

// Toolbar : Make ql-active buttons look like bootstrap active
.erizo-messageComposer-toolbarRow button.ql-active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}


// Attachments
.erizo-messageComposer-attachmentsRow {
	padding-bottom: @erizo-messageComposer-composerPadding;
}

// Attachment
.erizo-messageComposer-attachment {
  display: inline-block;
  border: 1px solid rgba(119, 119, 119, 0.35);
  padding: 5px;
  box-shadow: 1px 1px 1px rgba(119, 119, 119, 0.35);
  min-width: 280px;
  cursor: default;

  i {
  	vertical-align: middle;
  	margin-left: 10px;
  }
}

// isWriteMode state
.erizo-messageComposer.is-write-mode {
	// ON
	.hideOnWriteMode {
		display: none;
	}
	.showOnWriteMode {
		display: inherit;
	}
}
.erizo-messageComposer {
	// OFF
	.showOnWriteMode {
		display: none;
	}
}

// isWriteModeReply state
.erizo-messageComposer.is-write-mode-reply {
	// ON
	.hideOnWriteModeReply {
		display: none;
	}
	.showOnWriteModeReply {
		display: inherit;
	}
}
.erizo-messageComposer {
	// OFF
	.showOnWriteModeReply {
		display: none;
	}
}

// isWriteModeForward state
.erizo-messageComposer.is-write-mode-forward {
	// ON
	.hideOnWriteModeForward {
		display: none;
	}
	.showOnWriteModeForward {
		display: inherit;
	}
}
.erizo-messageComposer {
	// OFF
	.showOnWriteModeForward {
		display: none;
	}
}

// isSubjectVisible state
.erizo-messageComposer.is-subject-visible {
	// ON
	.hideOnSubjectVisible {
		display: none;
	}
	.showOnSubjectVisible {
		display: inherit;
	}
}
.erizo-messageComposer {
	// OFF
	.showOnSubjectVisible {
		display: none;
	}
}

// isCcVisible state
.erizo-messageComposer.is-cc-visible {
	// ON
	.hideOnCcVisible {
		display: none;
	}
	.showOnCcVisible {
		display: inherit;
	}
}
.erizo-messageComposer {
	// OFF
	.showOnCcVisible {
		display: none;
	}
}

// isBccVisible state
.erizo-messageComposer.is-bcc-visible {
	// ON
	.hideOnBccVisible {
		display: none;
	}
	.showOnBccVisible {
		display: inherit;
	}
}
.erizo-messageComposer {
	// OFF
	.showOnBccVisible {
		display: none;
	}
}
