.erizo-threadMessage--collapsed {
	.erizo-threadMessage-body {
		display: none;
	}
	.erizo-threadMessage-body-preview {
		display: block;
	}
}

.erizo-threadMessage-header {
	margin-bottom: 10px;
}

.erizo-threadMessage-body-preview {
	display: none;
}
