.message-list {
	.message-list-group {
	    margin-bottom: 15px;
	}

	.message-list-group-title {
	    margin: 0;
	}

	a:focus, a:hover {
		text-decoration: none;
	}
}


#bottom-toolbar {
	.buttons {
		div {
			display: inline;
		}
	}
}

/*
 * Loading animation
 */

.loading-messages {
    height: 30px;
    width: 30px;
    margin: 0 auto;

    i {
	    font-size: 30px;
	}
}

.load-more-messages button {
    width: 100%;
}
