.ms-ctn {
	border: 0px;
}
.ms-sel-ctn>.ms-sel-item {
	padding: 5px;
	margin: 5px;
	display: inline;
	background-color: #FAFAFA;
	border: 1px solid #DDD;
}
.ms-sel-ctn>.ms-sel-item .ms-close-btn {
	/*TODO*/
}
.ms-sel-ctn>input {
	border: 0px;
}
.ms-res-ctn {
}

.ms-ctn .dropdown-menu {
	box-shadow: none;
	border: 1px solid #DDD;
	border-radius: 0px;
	width: calc(100% - 45px);
	left: 0;
	margin-top: 0px;
	margin-left: 46px;
	padding: 5px;
}

.ms-ctn .ms-helper {
	display: none !important;
}
