/* Input */
ul.token-input-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

ul.token-input-list>li {
    display: inline;
    line-height: 35px;
    margin: 0px;
    padding-left: 5px;
}

ul.token-input-list>li {
    padding: 5px;
    margin: 5px;
}

ul.token-input-list>li.token-input-input-token>input {
    border: 0px;
}

/* Selected elements */
ul.token-input-list>li.token-input-token {
    background-color: #FAFAFA;
    border: 1px solid #DDD;
}
ul.token-input-list>li.token-input-token>p {
    display: inline;
}

.token-input-delete-token {
    margin: 5px;
    cursor: pointer;
}

/* Dropdown */
div.token-input-dropdown {
    overflow: hidden;
    background-color: white;
    border: 1px solid #DDD;
    /* Fix position */
    margin-left: 1px;
    margin-top: 5px;
}

div.token-input-dropdown>p {
    cursor: not-allowed;
    padding: 5px;
    margin: 0px;
}

div.token-input-dropdown>ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

div.token-input-dropdown>ul>li {
    cursor: pointer;
    padding: 5px;
    margin: 0px;
}

li.token-input-dropdown-item:hover,
li.token-input-dropdown-item2:hover {
    background-color: #DDD;
}