<div>
	<div class="row">
		<div class="small-12 column">
			<div class="icon-bar erizo-bar five-up">
				<a class="item"><i class="medium foundicon-refresh"></i></a>
				<a class="item"><i class="medium foundicon-folder"></i></a>
				<a class="item"><i class="medium foundicon-flag"></i></a>
				<a class="item"><i class="medium foundicon-trash"></i></a>
				<a class="item"><i class="medium foundicon-error"></i></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<table class="full-width">
				<tbody>
					{{#each message in model.messages}} {{message-row message=message.attrs}} {{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<ul class="pagination right">
				{{#unless model.isFirst}}
				<li class="arrow"><a {{action "gotoPreviousPage"}}>&laquo;</a>
				</li>
				{{/unless}} {{#unless model.isLast}}
				<li class="arrow"><a {{action "gotoNextPage"}}>&raquo;</a>
				</li>
				{{/unless}}
			</ul>
		</div>
	</div>
</div>