<div id="page-content">
	<div class="container-fluid">

		<div class="row">
			<div class="small-10 column small-offset-1 text-center">
				<div class="loading-messages rotation">
					<i class="mdi-notification-sync"></i>
				</div>

			</div>
		</div>

	</div>
</div>