{{outlet}}

<div class="bottom-floating-area">
{{#each newMessages as |newMessage|}}
	<div class="new-message-floating shadow-z-1">
		{{new-message model=newMessage delete="deleteNewMessage"}}
	</div>
{{/each}}
</div>
