{{outlet}}

<div class="bottom-floating-area">
{{#each newMessage in newMessages}}
    <div class="new-message-floating shadow-z-1">
        {{new-message newMessage=newMessage delete="deleteNewMessage"}}
    </div>
{{/each}}
</div>