<!-- Left panel -->
<div id="left-panel" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
	<div class="top">
		<a href="#">Erizo webmail</a>
		<div class="parameter-button">
			{{#link-to 'settings'}}<i class="mdi-action-settings"></i>{{/link-to}}
		</div>
	</div>
	<ul class="box-list nav navmenu-nav">
		{{#each box in model}}
			{{box-item box=box}}
		{{/each}}
	</ul>

	<!-- <div class="bottom">
		<ul class="box-list nav navmenu-nav">
			<li><a href="#"><i class="mdi-content-drafts"></i>Drafts</a>
			</li>
			<li><a href="#"><i class="mdi-content-inbox"></i>Mail to someone</a>
			</li>
			<li><a href="#"><i class="mdi-content-inbox"></i>Something to someone else</a>
			</li>
		</ul>
	</div> -->
</div>

<div>
	{{outlet}}
</div>
