<div id="login-panel" class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<div class="well well-lg">
				<form role="form" class="clearfix" action="#">
					<div class="form-group">
						{{input action="login" value=username type="text" placeholder="Username" class="form-control floating-label" autofocus=true}}
					</div>
					<div class="form-group">
						{{input action="login" value=password type="password" class="form-control floating-label" placeholder="Password"}}
					</div>
					<a href="#" class="btn btn-primary pull-right" {{action "login"}}>Login !</a>
				</form>
			</div>
		</div>
	</div>
</div>