<!-- Top navbar -->
<div id="navbar-top" class="navbar navbar-default navbar-fixed-top shadow-z-1 nav-erizo">
	<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<!-- Search form -->
	<form class="navbar-form navbar-right hidden-xs">
		<input type="text" class="form-control" placeholder="Search">
	</form>

	<!-- Write mail -->
	<button id="btn-write-mail-top" class="btn btn-fab btn-raised btn-default"><i class="mdi-image-edit"></i>
	</button>
</div>

{{outlet}}