<div>
	<strong>From: </strong>{{#each address in model.envelope.from}}{{mail-address model=address}}{{/each}}
</div>
<div>
	<strong>To: </strong>{{#each address in model.envelope.to}}{{mail-address model=address}}{{/each}}
</div>
<div>
	{{mime-element model=model.part}}
</div>