<div class="row">
	<div class="small-12">
		<div class="icon-bar five-up">
			<a class="item small"><i class="foundicon-refresh"></i></a>
			<a class="item small"><i class="foundicon-folder"></i></a>
			<a class="item small"><i class="foundicon-flag"></i></a>
			<a class="item small"><i class="foundicon-trash"></i></a>
			<a class="item small"><i class="foundicon-error"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<table class="small-12">
		<tbody>
			{{#each message in model.messages}}
				{{message-row message=message.attrs.envelope}}
			{{/each}}
		</tbody>
	</table>
</div>
<div class="row">
	<div class="small-12 column">
		<ul class="pagination right">
			<li class="arrow"><a {{action "gotoPreviousPage"}}>&laquo;</a></li>
			<li class="arrow"><a {{action "gotoNextPage"}}>&raquo;</a></li>
		</ul>
	</div>
</div>